<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Examen_IB"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Examen_IB"
        tools:targetApi="31">
        <activity
            android:name=".ActualizarDepartamento"
            android:exported="false"
            android:parentActivityName=".verDepartamentos">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActualizarDepartamento" />
        </activity>
        <activity
            android:name=".ActualizarEdificio"
            android:exported="false"
            android:parentActivityName=".Edificio">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActualizarEdificio" />
        </activity>
        <activity
            android:name=".verDepartamentos"
            android:exported="false"
            android:parentActivityName=".Edificio">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".verDepartamentos" />
        </activity>
        <activity
            android:name=".Edificio"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Departamento"
            android:exported="false"
            android:parentActivityName=".verDepartamentos">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Departamento" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>